API_KEY=
ENCRYPTION_KEY=
DEVICE_NAME=
ENVIRONMENT=PRODUCTION
ALLOWED_ACCOUNTS=
ALLOWED_IPS=
LISTENING_ADDRESS=127.0.0.1
LISTENING_PORT=8080

# value 'development' will enable verbose logging, else it'll default to warn/error only
# NODE_ENV=development
NODE_ENV=production

# force overwrite the node_env value. Can be used to force disable/enable when required
# BUNQ_JS_CLIENT_LOG_LEVEL=debug
